<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class=" row row_cpf">
        <div class="col-md-4">
            <h2>Faça seu login!</h2>
            <mat-form-field appearance="outline">
                <mat-label>Digite seu CPF</mat-label>
                <input formControlName="textCpf" mask="000.000.000-00" [(ngModel)]="textCpf" required matInput
                    placeholder="CPF">
                <input formControlName="empresa" [(ngModel)]="empresa" type="hidden">
            </mat-form-field>
        </div>
    </div>
    <div class="row row_cpf">
        <div class="col-md-6 container-buttons-center">
            <button type="submit" [disabled]="!form.valid" mat-raised-button color="primary">
                <mat-icon>account_circle</mat-icon> Acessar
            </button>
            <p style="margin-top:15px">Não tem cadastro? <a routerLink="/cadastro">Clique aqui</a></p>

        </div>
    </div>
</form>